<div id="h3-wrapper">
  <h3 style="text-align: center;">Daily Dibs Chart</h3>
</div>
<div class="seperator"></div>
<div ng-controller="eventsController" class="panel panel-default" id="events-sidebar">
  <!-- // <script type="text/javascript" src="../lib/d3/d3.v3.min.js"></script> -->
  <!-- // <script type="text/javascript" src="./d3.min.js"></script> -->
  <!-- // <script type="text/javascript" src="../gantt-chart-d3.js"></script> -->
  <div>
    hello
    <script type="text/javascript" src="../brandonsChart/example.js"></script>
  </div>
</div>
