body {
    background-color: #FFF;
    height: 100%;

}

h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

#h3-wrapper {
    padding-top: 20px;
}

.seperator {
    border-top: 1px dotted #ccc;
    margin: 10px 0 30px 0;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
}

#signup-container {
    margin-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
}

#nav-container {
    background-color: #278D8E;
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 10px;

    
}

#bannerText {
    color: white;
    text-align: center;
}

#logo-orange-image {
    height: 200px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto
}

#logo-image {
    height: 50px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto
}


#logout-btn {
    height: 30px;
    display: inline-block;
    float: right;
    margin-top: 10px;
    background: #278D8E;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0.25em 0.9em 0.75em 0.9em;
}



.sideBar {
    background-color: #f7f7f9;
    border: 1px solid #DADFE2;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    margin-top: 20px;
}

#events-sidebar {
    background-color: #f7f7f9;
    border: 1px solid #DADFE2;
    padding: 20px;
    margin-top: 20px;
    height: 410px;
}

#event-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    overflow: scroll;
    height: 100%;
    margin: 10px;
}

.event-block {
    background-color: #fff;
    border-color: #fff;
    padding-left: 20px;
}

.dashboard {
    border-radius: 20px;
    border: 3px solid black;
    margin-top: 20px;
    text-align: center;
}

.standardInputStyling {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn {
    padding: 10px;
    margin-top: 10px;
    margin-left: 0px;
    width: 100%;
    background: #278D8E;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0.78em 0.9em 0.75em 0.9em;
}


.btn-primary {
    background: #278D8E !important;
    border-color: black !important;
}

.timePicker {
    width: 100%;
    float: left;
}

.input-padding {
    padding-bottom: 20px;
}

#terms-padding {
    padding-left: 10px;
}

#alert-roommates-padding {
    padding-left: 10px;
}

#userName {
    margin-top: 10px;
    width: 148px;
}

#userTags {
    width: 300px;
}


.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}


.navbar-fixed-bottom {
    background-color: #222;
    border-color: #080808;
}

.circle {
    padding-top: 5px;
    border-radius: 50%;
    height: 45px;
}

#nav-google-text {
    font-size: 1.2em;
    color: #fff;
}


.header-container {
    width: 100%;
    height: 900px;
    border-left: none;
    border-right: none;
    position: relative; 
    padding: 20px;

}

.video-container {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

video {
    position: absolute;
    z-index: -1;
    opacity: 1;
    width: 100%;
}

.navbar-brand {
    padding: 0px 20px;
}
.navbar-inverse {
    background-color: #382454;
    border-color:#1A0F29;
}
